@use './variables' as *; // * removes need to call namespace
@use './mixin' as *; // * removes need to call namespace

// base styles

body {
  margin: 0;
  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  font-size: $font-size-base;
  color: $primary-color;
  background-color: $primary-color-background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  @include font-template($font-size-large, $font-weight-heavy, $spacing-medium !important);
}

h2 {
  @include font-template($font-size-medium, $font-weight-medium, $spacing-medium !important);
}

h3 {
  @include font-template($font-size-medium, $font-weight-medium, $spacing-medium !important);
}

p, ul {
  font-size: $font-size-standard-extra;
  font-weight: $font-weight-light;
  line-height: 1.4rem;

  :any-link {
    font-size: inherit;
    color: $primary-color;
    text-decoration: underline;
    font-weight: $font-weight-heavy;
  }

}


//global styles
.spacing-top {
  margin-top: $spacing-medium;
}
