.App {
}

// page content wrapper
main {
  margin: 0.75rem 0.75rem 1rem 0.75rem;
}

section {
  margin: 1rem 0 1.5rem 0;
}

//global styles
.spacing-top {
  margin-top: 1rem;
}




/////// header

/////// col1/2
.container {
  display: flex;
  width: 100%;
}

.box {
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

// center main image
.main-image {
  display: flex;
  justify-content: center;
}

// main image
.Tomato__image {
  width: 250px;
  height: auto;
  margin-bottom: 1rem;
}


@media only screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
  .box {
    margin: 0 0 1rem;
  }

  .column-1 {
    //padding-right: unset;
  }

  .Tomato__image {
    width: 100%;
    height: auto;
  }

}

/////// col1
.column-1 {
  flex-shrink: 0; /* shrinks to 0 to apply 70% width*/
  flex-basis: 60%; /* sets initial width to 70%*/
  padding-right: 1rem;

  ul {
    margin: 1rem 0 1rem 2rem;
  
    li {
      list-style-type: disc;
    }
  
  };

}

/////// col2
.column-2 {
}

////// table
table {
  font-size: 1.1rem;
  width: 100%;
  border-collapse: collapse; // removes table borders between tr cells

  caption {
    text-align: left;
    margin-bottom: 1rem;

    .sub-heading {
      font-size: 1.4rem;
      font-weight: 900;
      margin-bottom: 0.5rem;
      display: block;
    }
    
  }

  .table-header {
    background-color: rgba(204, 204, 204, 0.39);
  }

  tr {
    border: none !important;
    outline: none;
  }

  // table header/data
  th, td {
    padding: 0.5rem;
    width: 50%;
  }


  // table data highlight hover
  tr {
    &.table-data:hover {
      background-color: yellow;
    }
  }

}

.table-footer {
  margin-top: 1rem;
}


//////////////tabs
.tabs {

}

.tab-list {
  display: flex;

  button {
    width: 100%;
  }

}

.tab-active, .tab-inactive {
  padding: 0.5rem;
  font-size: 1.2rem;
}
.tab-active {
  background-color: white;
  color: black;
  font-weight: 900;
  border: 1px solid black;
  border-bottom: none;
}
.tab-inactive {
  background-color: rgba(204, 204, 204, 0.39);
  color: black;
  font-weight: normal;
  border: 1px solid grey;
  border-bottom: none;

  &:hover {
    background-color: yellow;
  }

}

////////////
.tab-content {
  display: flex;
}
.tab-content > .tab-pane {
  display: block; /* undo "display: none;" */
  visibility: hidden;
  margin-right: -100%;
  width: 100%;
}
.tab-content > .active {
  visibility: visible;
  padding: 1rem;
  border: 1px solid #000;

  a:hover {
    background-color: yellow;
  }

}


//////////////form
.form {
  width: 75%;

  p {
    margin: 1rem 0 1rem 0;
    display: flex;
    align-items: center;
  }

  label {
      width: 7rem;
      margin-right: .5rem;
      font-weight: 900;
  }

  input:not([type="submit"]){ // target all inputs except submit button
    flex: 1; //????
    padding: 0.5rem;
    border: 2px solid black;

    &::placeholder {
      color: rgba(204, 204, 204, 0.39);
    }

    &:hover {
      background-color: yellow;
    }

  }

  .btn {
    display: flex;
    justify-content: flex-end;
  }

  input[type="submit"] {
    height: auto;
    width: auto;
    padding: 0.5rem 2rem;
    font-weight: 900;
    text-align: center;
    color: black;
    background-color:  rgba(204, 204, 204, 0.39);
    border: 1px solid black;
    cursor: pointer;

    &:hover {
      background-color: yellow;
    }

  }


}

@media (max-width: 750px) {

  .form {
    width: 100% !important;

    p {
      display: block;
    }

    input:not([type="submit"]) {
      margin-top: 0.5rem !important;
      width: 100%;
    }
  
    input[type="submit"] {
      width: 100%;
    }

  }

}
